.App{
  height: 100%;

  &__Main-Page-content{
    height: calc(100% - 80px);
  

  }
}
.App__Main-Page-content.navbar-open {
  position: relative;
  z-index: -1;
}
.navbar__container__menu {
  /* Other styles */
  z-index: 1; /* Ensure the menu has a higher z-index when active */
}
.App__Main-Page-content {
  transition: all 0.3s ease;
}